@font-face{
	font-family: irsans;
	src: url(irsans.ttf);
}

*{
	direction: rtl;
	font-family: irsans;
	line-height: 1.4;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	text-align: center;

}
