@font-face {
  font-family: irsans;
  src: url(irsans.ttf);
}

* {
  direction: rtl;
  font-family: irsans;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
body {
  background-color: rgba(189, 186, 186, 0.9);
}
.h-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  background-color: black;
  padding: 0 2%;
}
.social-list {
  display: flex;
  justify-content: space-between;
}
.social-list .social-item,
.user-assistance li {
  text-align: center;
  margin-left: 20%;
  border-radius: 25%;
  background-color: transparent;
  color: #ccc;
}
.h-top #h-search {
  margin: 0.5%;
  background-color: gray;
  position: relative;
  left: -31%;
  color: white;
  min-width: 15%;
  width: 30%;
}
.h-top #h-search:focus {
  outline: 0;
}
#h-logo {
  margin-right: 20%;
  max-width: 100%;
}
.h-bottom {
  background-color: rgb(63, 63, 63);
  height: 10vh;
  padding: 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu {
  display: flex;
  flex-direction: row;
  color: lightgray;
  width: 100%;
  height: 100%;
  align-items: center;
}
.menu-item {
  margin-left: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  text-align: center;
  /* position: relative; */
}
.menu-item:hover {
  transition: 0.3s;
  background-color: rgba(109, 109, 109, 0.4);
  border-top: 2px solid;
}
.menu-item:hover.menu-item:nth-child(2) {
  border-color: orange;
}
.menu-item:hover.menu-item:nth-child(3) {
  border-color: skyblue;
}
.menu-item:hover.menu-item:nth-child(4) {
  border-color: purple;
}
.menu-item:hover.menu-item:nth-child(5) {
  border-color: greenyellow;
}
.menu-item:hover.menu-item:nth-child(6) {
  border-color: yellow;
}
.menu-item:hover.menu-item:nth-child(7) {
  border-color: red;
}
.menu-item .menu-down {
  width: 10px;
  height: 10px;
}
.menu-item .menu-pic {
  width: 20px;
  height: 20px;
}
.sub-menu-container {
  display: none;
  position: relative;
}
.menu-item .sub-arrow {
  display: none;
}
.menu-item:hover .sub-arrow {
  display: block;
  position: relative;
  top: 12px;
  right: 2px;
  z-index: 100;
}
.menu-item:hover .sub-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 20%;
  right: 0;
  width: 100%;
  background-color: #ccc;
  z-index: 10;
}
.sub-menu-container .side-sub-menu-container {
  background-color: black;
  color: white;
  position: absolute;
  right: -30px;
  height: 100%;
  margin-right: 2%;
  padding: 2%;
}
.side-sub-menu-container .side-sub-items {
  text-align: right;
}
.side-sub-items:first-child a {
  color: orange;
}
.side-sub-items:first-child a {
  color: skyblue;
}
.sub-menu-container .first-menu-content {
  margin-right: 50%;
}
.sub-menu-container .sub-menu-item {
  padding: 2%;
  text-align: center;
}
.sub-menu-container .sub-menu-item p {
  color: black;
}
.bottom-left {
  padding: 1% 0 0 5%;
}
.bottom-left ul {
  display: flex;
  justify-content: space-between;
}
.bottom-left ul li:hover .fa {
  color: white;
  transition: 0.3s;
}
.content {
  position: relative;
}
.content-header-img {
  position: relative;
  height: 500px;
  width: 100%;
}
.header-img-cover {
  position: absolute;
  top: 0;
  background-image: linear-gradient(
    transparent,
    rgba(255, 255, 255, 0.3),
    rgba(189, 186, 186, 0.9)
  );
  width: 100%;
  height: 500px;
}
.content .content-title {
  position: absolute;
  top: 30px;
  width: 100%;
  color: white;
}
.content h1 {
  font-size: xx-large;
  font-weight: bolder;
}
.writer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.writer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid white;
}
.main-box {
  width: 80%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  position: relative;
  top: -120px;
  padding: 2%;
}
.main-box .main-section {
  width: 70%;
  position: relative;
  z-index: 200;
}
.main-box .side-box {
  width: 30%;
}
.main-section article {
  margin-bottom: 2%;
  border-bottom: 1px solid #ccc;
}
.main-section .explanations,
.main-section .most-like,
.main-section .comments {
  text-align: justify;
  padding-bottom: 5%;
}
.explanations span {
  line-height: 30px;
}
.explanations img {
  margin: 2%;
  max-width: 100%;
}
.explanations div {
  display: flex;
}
.explanations .summary {
  display: inline-block;
  float: left;
  width: 200px;
  height: 200px;
  text-align: justify;
  margin: 2%;
}
.explanations .summary,
.explanations span a {
  color: red;
}
.most-like {
  text-align: right;
}
.most-like ul .title {
  text-align: right;
  padding: 2%;
  background-color: #ccc;
  color: darkslategrey;
}
.most-like ul .most-like-items {
  padding-top: 1%;
  display: flex;
  position: relative;
}

.most-like-items img,
.most-like-items .black-layer {
  width: 200px;
  height: 200px;
}
.most-like-items img {
  position: relative;
}
.most-like-items .black-layer {
  position: absolute;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
}
.ml-content {
  text-align: right;
  margin: 5% 2% 0 0;
}
.ml-content h3,
.ml-content p {
  text-align: right;
  margin-bottom: 2%;
}
.ml-content h3 {
  font-size: larger;
  font-weight: bolder;
}
.ml-content p {
  font-size: x-small;
  font-weight: 100;
}
.circle1 {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

.circle2 {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid greenyellow;
  border-top-color: greenyellow;
  border-right-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-40deg);
  box-sizing: border-box;
  padding: 5px;
  opacity: 0.3;
}
.circle1:hover .circle2 {
  border-top-color: black;
  border-right-color: greenyellow;
  transform: rotate(320deg);
  transition: 0.3s;
}
.circle1:hover .circle2,
.circle1:hover .circle3 span {
  opacity: 1;
}

.circle3 {
  width: 70px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle3 span {
  opacity: 0.5;
  position: absolute;
  transform: rotate(-320deg);
  color: white;
  font-size: 16px;
}
.comments {
  text-align: right;
}
.comments ul,
.comments .comment-items {
  padding: 0;
  margin: 0;
}
.com-init {
  width: 150px;
}
.com-init a {
  color: black;
}
.com-init span {
  font-weight: bold;
  font-size: large;
  font-style: italic;
  margin: 0 2%;
}
.comments ul .comment-items {
  padding-top: 4%;
}
.comment-items img {
  max-width: 50px;
  max-height: 50px;
  float: right;
}
.comment-items .com-content {
  margin-right: 80px;
}
.comment-items .com-writer {
  display: flex;
}
.comment-items .com-writer span {
  font-size: larger;
  font-weight: bolder;
  margin-left: 20px;
}
.comment-items .com-writer p {
  font-size: smaller;
  font-weight: 100;
  line-height: 2;
  font-style: italic;
}
.com-content .com-text {
  display: flex;
  text-align: right;
  margin-top: 5%;
}
.login-alert {
  float: right;
}
footer {
  background: #000;
  padding: 2%;
  display: flex;
  justify-content: space-between;
}
footer .topic {
  color: white;
  margin-bottom: 5%;
  display: flex;
}
footer .topic a {
  font-style: italic;
  margin-right: 10%;
}
footer li {
  margin-bottom: 2%;
  text-align: right;
  width: 50%;
  line-height: 2;
}
footer .icons {
  margin-right: 10%;
  display: flex;
  align-items: start;
}
footer .icons li {
  margin-left: 15%;
}
footer .icons li:hover a {
  color: red;
  transition: 0.3s;
}
footer .best-items .number {
  font-size: xx-large;
  color: white;
}
.footer {
  padding: 2%;
  display: flex;
  justify-content: space-around;
  color: gray;
}
.side-box {
  width: 25%;
  padding-top: 20%;
  margin-right: 2%;
}
.side-box section:not(.side-box section:first-child) {
  margin-top: 5%;
}
.side-box .topic {
  display: flex;
  background-color: #eee;
  border: 1px solid #bbb;
  border-left: none;
  margin-bottom: 2%;
}
.side-box .topic h4 {
  box-shadow: inset 1px 2px 14px rgba(0, 0, 0, 0.3);
}
.side-box .topic a {
  margin-right: 2%;
}
.side-box .topic h4,
.side-box .topic a {
  padding: 4% 1%;
}
.side-box .consideration ul li {
  position: relative;
  height: 15vh;
}
.content-pic img {
  width: 100%;
  height: 15vh;
}
.side-box .consideration .black-layer {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
.consideration .content {
  color: white;
}
.content .title {
  font-size: medium;
  font-weight: bold;
}
.content .side-footer {
  position: relative;
  top: 60px;
  padding: 0 2% 2% 0;
}

.consideration .circle1 {
  width: 60px;
  height: 60px;
  transform: translate(-4%, 10%);
}
.consideration .circle2 {
  width: 40px;
  height: 40px;
}
.consideration .circle3 {
  width: 30px;
  height: 20px;
}
.side-footer ul {
  display: flex;
  position: relative;
  right: 170px;
}
.side-footer li {
  margin-left: 2%;
}
.side-footer .right {
  float: right;
}
.side-footer .left {
  float: left;
}
.side-footer .left img {
  width: 20px;
  height: 20px;
}
.side-box .consideration .black-layer,
.consideration .content {
  position: absolute;
  top: 0;
}
.side-box .cinema {
}
.side-box .cin-item {
  display: flex;
  margin-bottom: 5%;
}

.cin-item .cinema-content {
  margin-right: 2%;
  color: #bbb;
}
.cin-item h2 {
  font-size: large;
  font-weight: bold;
  text-align: right;
  color: darkgray;
}
.cin-item p {
  font-size: x-small;
  text-align: right;
  margin-bottom: 1%;
}
.cin-item .cin-icons {
  display: flex;
  /* justify-content: space-around; */
  position: relative;
  text-align: right;
}
.cin-item .num {
  margin-left: 2%;
  line-height: 1;
}
.cin-item .cin-pic {
  position: relative;
  width: 20%;
}
.cin-item .cin-pic img {
  width: 60px;
  height: 100%;
}
.cin-item .cin-pic .black-layer {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
    transparent,
    rgba(69, 69, 69, 0.8),
    rgba(83, 82, 82, 0.9)
  );
  width: 100%;
  height: 80%;
}

.cin-item .cin-bottom-img {
  position: absolute;
  bottom: -10px;
  right: 0;
  background: #000;
}
.cin-item #bottom-img {
  width: 20px;
  height: 20px;
  padding: 1%;
}
/* bakhsh ha */
.bakhsh-ha .topic-icon {
  display: flex;
  margin-right: 5%;
}
.bakhsh-ha .topic-icon li:first-child {
  background-color: #e76bbf;
  box-shadow: inset 1px 2px 14px rgba(0, 0, 0, 0.3);
}
.bakhsh-ha .topic-icon li {
  padding: 20%;
}
.bakhsh-ha .topic-icon li img {
  width: 20px;
  height: 20px;
}
.bakhsh-ha .bakhsh-item {
  display: flex;
  margin-bottom: 5%;
}
.bakhsh-item h2 {
  margin-right: 2%;
  font-weight: bolder;
  text-align: right;
}
.bakhsh-ha button {
  padding: 2%;
}
.az-zoomit .zoomit-item {
  float: right;
}
.zoomit-item p,
.zoomit-item span {
  display: block;
  float: right;
  text-align: right;
  margin-bottom: 5%;
}
.zoomit-item span {
  font-weight: bold;
}
.zoomit-item p {
  font-style: italic;
  font-size: smaller;
  color: #bbb;
}
/* first one */
.side-box .consideration .cons-first-item,
.side-box .consideration .cons-first-item .content-pic img {
  height: 30vh;
}
.consideration .cons-first-item .circle1 {
  transform: translate(-220%, -20%);
}
.cons-first-item .content .side-footer {
  top: 150px;
}

/* up btn */
.up-button {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}
.up-button:hover {
  background-color: #3e8e41;
}
