@font-face {
  font-family: irsans;
  src: url(irsans.ttf);
}

* {
  direction: rtl;
  font-family: irsans;
  line-height: 2;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ccc;
}
.t-header {
  position: relative;
}
.header-top,
.header-bottom {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
}
.menu {
  display: flex;
  flex-direction: row;
  color: lightgray;
}
.menu-item {
  margin-left: 0.8rem;
  cursor: pointer;
}
.menu-item:hover {
  transition: 0.3s;
  color: red;
}
.top-left {
  color: white;
}
.header-bottom {
  background-color: rgb(47, 46, 46);
  color: white;
}
.bottom-right {
}
.t-header a {
  text-decoration: none;
  color: white;
}
.header-logo-container {
  position: absolute;
  top: 0;
  background: url("../Zoomit/logo-bg.png") no-repeat;
  background-size: cover;
  text-align: center;
}
#header-date {
  left: 0;
  text-align: center;
  color: white;
  font-size: xx-large;
  z-index: 1;
  transform: rotateY(-180deg);
}
/* Main body  */
.main {
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  padding: 0 5rem;
  background-color: #e9e8e8;
}
.container {
  margin: 0 auto;
  width: 90%;
}
.grid-view-container {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-auto-rows: minmax(200px, auto);
}
.grid-view-block {
  /* display: inline-block; */
  position: relative;
  /* float: right; */
  width: 350px;
  height: 200px;
}
.grid-view-block .black-layer {
  background-color: black;
  opacity: 0.5;
}
.grid-view-block img,
.grid-view-block .black-layer {
  width: 100%;
  height: 100%;
}
.grid-view-block img,
.grid-view-block .black-layer,
.grid-view-block .content {
  position: absolute;
}
.content {
  right: 1rem;
  bottom: 0;
}
.grid-view-block .content .topic {
  color: orange;
  font-size: 1em;
}
.content .title {
  color: white;
  font-size: 1.2em;
}
.grid-view-block:first-child {
  grid-column: 1/3;
  width: 100%;
  height: 100%;
}
.grid-view-block:last-child {
  grid-column: 2/4;
  grid-row: 3;
  width: 100%;
  height: 100%;
}
.grid-view-block .black-layer:hover {
  opacity: 0.7;
  transition: 0.3s;
}
/* the main body after grid part */
.top-body-container {
  margin-top: 1%;
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-template-rows: repeat(2, 0fr);
}
.top-body-container .suggestions,
.top-body-container .new-posts {
  padding: 0 2% 0 2%;
  width: 180%;
}
.head-title {
  background-color: #eee;
}
.advertisement-right,
.advertisements-left {
  grid-area: 1 / 1 / 3 / 2;
}
.side-box {
  width: 100%;
  height: 500px;
  position: relative;
  background-color: white;
}
.side-box img {
  width: 100%;
  height: 80%;
}
.side-box .content {
  position: relative;
  top: -4rem;
  padding: 2%;
  right: 0;
  background-color: white;
}
.side-box .box-items {
  height: 35%;
}
.suggestions {
  grid-area: 1 / 2 / 2 / 3;
}
.suggestions .content .topic,
.side-box .topic {
  color: #ccc;
}
.suggestions .content .title,
.side-box .title,
.new-posts article .title {
  color: black;
  font-size: small;
  font-weight: bold;
}

.suggestions ul {
  display: flex;
}
.suggestions .suggestion-items {
  width: 100%;
}
.suggestion-items img {
  width: 150px;
  margin-left: 10%;
}
.new-posts {
  margin-top: 10px;
  grid-area: 2 / 2 / 3 / 3;
}
.new-posts article {
  padding: 2%;
  background-color: #fff;
  border-bottom: 1px solid gray;
}
.new-posts article:last-child {
  border-bottom: 0;
}
article .info {
  color: lightgray;
  font-size: medium;
  font-weight: normal;
}
article .fa {
  margin: 10px 20px;
  float: left;
}
article .content {
  float: left;
  width: 50%;
}
article img {
  width: 40%;
}
article .article-adv {
  width: 100%;
}
/* article . */
/* left advertisement */
.advertisements-left img {
  width: 100%;
  margin: 0 0.5rem 0 1.3rem;
}
/* left learning section */
.learning-section {
  width: 100%;
  margin-right: 0.5rem;
}
.learning-items,
.suggestion-items {
  width: 100%;
  padding: 2%;
  background-color: #fff;
  position: relative;
}
.learning-items {
  float: left;
}
.learning-items:first-child {
  background-color: lightgray;
  border-bottom: none;
}
.learning-items img {
  padding: 2%;
  width: 30%;
  float: right;
}
.learning-items .content h3 {
  font-size: x-small;
  color: gray;
}
.learning-items .content h4 {
  font-size: 8pt;
  color: black;
}
/* slider section */
.slider-section,
.footer-section,
footer {
  margin-top: 5%;
  background-color: black;
  padding: 2%;
  color: white;
  width: 100%;
}
.slider {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
.slider-items {
  /* display: inline-block; */
  width: 30%;
  height: 100%;
  padding-left: 3%;
  position: relative;
}
.slider-items .content,
.cons-grid-items .content {
  position: absolute;
  bottom: 5%;
  padding: 0 10%;
}
.slider-items .content h4 {
  color: white;
}
.slider-items img {
  width: 100%;
}
.slider-items .shadow,
.consideration-section .shadow {
  background: black;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(5, 9, 5, 0.5) 90%
  );
}
.slider-items .shadow {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 80%;
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.9);
}
.slider-btn {
  height: 150px;
  width: 50px;
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  margin-top: 50px;
}
.slider-btn:hover {
  opacity: 0.7;
}
#slider-right-btn {
  right: 7%;
}
#slider-left-btn {
  left: 10%;
}
.slider-section #slider-topic,
.consideration-section #consideration-topic {
  margin: 0 5% 2% 0;
}
/*@todo consideration part  */
.consideration-section {
  background-color: #ccc;
  padding: 2%;
}
.cons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  padding: 3%;
}
.consideration-section .content {
  font-size: xx-small;
  font-weight: 50;
  width: 50%;
}
.cons-container .cons-smaller {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
}
.cons-smaller .cons-item {
  width: 250px;
  padding: 0;
  position: relative;
}
.cons-item img,
.consideration-section .shadow,
.cons-item .content {
  position: absolute;
  bottom: 0;
}
.cons-smaller img {
  width: 50%;
  height: 50%;
}
.cons-item:first-child img {
  width: 70%;
  height: 70%;
}
.cons-item:first-child .shadow {
  width: 70%;
  height: 50%;
}
.cons-item:nth-child(2) img {
  width: 80%;
  height: 80%;
}
.cons-bigger {
  position: relative;
  right: -200px;
}
.consideration-section .shadow {
  background: black;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(5, 9, 5, 0.3) 0%
  );
  height: 50%;
  width: 80%;
  /* box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.9); */
}
.cons-bigger {
  position: relative;
}
.cons-bigger h4 {
  position: relative;
  top: -50px;
  right: 2%;
}
.cons-bigger .shadow,
.cons-bigger .content {
  width: 100%;
  height: 50%;
  bottom: 30px;
}
/* footer */
.footer-section,
footer {
  margin: 0;
  display: flex;
}
.footer-section .topic {
  font-size: large;
  font-weight: bolder;
  margin-bottom: 5%;
}
.footer-list {
  width: 30%;
  text-align: start;
  margin-bottom: 1%;
  border-bottom: 1px solid #bbb;
}
.footer-list img {
  display: inline-block;
  width: 20%;
}
.footer-list .content {
  display: inline-block;
  width: 70%;
  font-size: small;
  margin-right: 2%;
}
.footer-item:not(.footer-item:last-child) {
  margin-bottom: 5%;
}
#news-mail {
  padding: 4%;
  background-color: rgba(109, 109, 109, 0.4);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}
#news-mail:focus {
  outline: none;
}
#news-mail::placeholder {
  font-size: small;
  padding-right: 1.5rem;
}
.news {
  position: relative;
}
.news .fa {
  position: absolute;
  right: 0.4rem;
  top: 35%;
}
.footer-btn {
  padding: 4%;
  background-color: red;
  color: #ccc;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
footer {
  justify-content: space-evenly;
}
footer a:not(footer .social a) {
  color: red;
}
footer .social-list {
  display: flex;
  flex-direction: row;
  color: #bbb;
}
.social-list .social-item {
  width: 25%;
  text-align: center;
  margin-left: 3%;
  border-radius: 25%;
  background-color: rgba(109, 109, 109, 0.4);
}

/* Responsiveness */
@media screen and (max-width: 599px) and (min-width: 450px) {
  /* mobile to tablet */
  .menu {
    font-size: 5pt;
  }
  .header-logo-container,
  .advertisements-left,
  .advertisement-right {
    display: none;
  }
  .grid-view-container,
  .top-body-container ul {
    display: flex;
    flex-direction: column;
  }
  .grid-view-block,
  .suggestion-items {
    width: 100%;
  }
}
@media screen and (max-width: 767px) and (min-width: 600px) {
  /* tablet to normal screens */
  .menu {
    font-size: 5px;
  }
  .header-logo-container {
    width: 15%;
    height: 100%;
  }
  .header-logo-container .header-logo {
    margin-top: 8%;
    width: 80%;
    height: 50%;
  }
  .advertisements-left img,
  .advertisement-right img {
    width: 150px;
  }
  .grid-view-container,
  .top-body-container ul,
  .slider {
    display: flex;
    flex-direction: column;
  }
  .grid-view-block,
  .suggestion-items,
  .slider-items {
    width: 100%;
  }
  .slider .slider-btn {
    display: none;
  }
  .footer-section,
  footer {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 1800px) and (min-width: 768px) {
  /* normal screens to extra large */
  .menu {
    font-size: 14px;
  }
  .header-logo-container {
    width: 10%;
    height: 100%;
  }
  .header-logo-container .header-logo {
    width: 72%;
    height: 80%;
  }
  .header-bottom {
    padding: 0 5rem;
  }
}
