@font-face {
  font-family: irsans;
  src: url(irsans.ttf);
}

* {
  direction: rtl;
  font-family: irsans;
  line-height: 2;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.t-header {
  position: relative;
}
.header-top,
.header-bottom {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
}
.menu {
  display: flex;
  flex-direction: row;
  color: lightgray;
}
.menu-item {
  margin-left: 0.8rem;
  cursor: pointer;
}
.menu-item:hover {
  transition: 0.3s;
  color: red;
}
.top-left {
  color: white;
}
.header-bottom {
  background-color: rgb(47, 46, 46);
  color: white;
}
.bottom-right {
}
.t-header a {
  text-decoration: none;
  color: white;
}
.header-logo-container {
  position: absolute;
  top: 0;
  background: url("../Zoomit/logo-bg.png") no-repeat;
  background-size: cover;
  text-align: center;
}
#header-date {
  left: 0;
  text-align: center;
  color: white;
  font-size: xx-large;
  z-index: 1;
  transform: rotateY(-180deg);
}
/* Main body  */
.main {
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  padding: 0 5rem;
  background-color: #e9e8e8;
}
.container {
  margin: 0 auto;
  width: 90%;
}
.grid-view-container {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-auto-rows: minmax(200px, auto);
}
.grid-view-block {
  /* display: inline-block; */
  position: relative;
  /* float: right; */
  width: 350px;
  height: 200px;
}
.grid-view-block .black-layer {
  background-color: black;
  opacity: 0.5;
}
.grid-view-block img,
.grid-view-block .black-layer {
  width: 100%;
  height: 100%;
}
.grid-view-block img,
.grid-view-block .black-layer,
.grid-view-block .content {
  position: absolute;
}
.content {
  right: 1rem;
  bottom: 0;
}
.grid-view-block .content .topic {
  color: orange;
  font-size: 1em;
}
.content .title {
  color: white;
  font-size: 1.2em;
}
.grid-view-block:first-child {
  grid-column: 1/3;
  width: 100%;
  height: 100%;
}
.grid-view-block:last-child {
  grid-column: 2/4;
  grid-row: 3;
  width: 100%;
  height: 100%;
}
.grid-view-block .black-layer:hover {
  opacity: 0.7;
  transition: 0.3s;
}
/* the main body after grid part */
.top-body-container {
  margin-top: 1%;
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  grid-template-rows: repeat(2, 0fr);
}
.top-body-container .suggestions,
.top-body-container .new-posts {
  padding: 0 2% 0 2%;
  width: 180%;
}
.head-title {
  background-color: #eee;
}
.advertisement-right {
  grid-area: 1 / 1 / 3 / 2;
}
.side-box {
  width: 100%;
  position: relative;
  background-color: white;
}
.side-box img {
  width: 100%;
  height: 80%;
}
.side-box .content {
  position: relative;
  top: -4rem;
  padding: 2%;
  right: 0;
  background-color: white;
  /* padding: 2%; */
}
.suggestions {
  grid-area: 1 / 2 / 2 / 3;
}
.suggestions .content .topic,
.side-box .topic {
  color: #ccc;
}
.suggestions .content .title,
.side-box .title,
.new-posts article .title {
  color: black;
  font-size: small;
  font-weight: bold;
}

.suggestions ul {
  display: flex;
}
.suggestions .suggestion-items {
  width: 100%;
}
.suggestion-items img {
  width: 150px;
  margin-left: 10%;
}
.new-posts {
  margin-top: 10px;
  grid-area: 2 / 2 / 3 / 3;
}
.new-posts article {
  padding: 2%;
  background-color: #fff;
  border-bottom: 1px solid gray;
}
article .info {
  color: lightgray;
  font-size: medium;
  font-weight: normal;
}
article .fa {
  margin: 10px 20px;
  float: left;
}
article .content {
  float: left;
  width: 50%;
}
article img {
  width: 40%;
}
article .article-adv {
  width: 100%;
}
/* article . */
/* left advertisement */
.advertisements-left img {
  width: 100%;
  height: 150px;
  margin: 0 0.5rem 0 1.3rem;
}
/* left learning section */
.learning-section {
  width: 100%;
  margin-right: 0.5rem;
}
.learning-items,
.suggestion-items {
  width: 100%;
  padding: 2%;

  background-color: #fff;
  position: relative;
}
.learning-items:first-child {
  background-color: lightgray;
  border-bottom: none;
}
.learning-items img {
  padding: 2%;
  width: 30%;
  float: right;
}
.learning-items .content h3 {
  font-size: x-small;
  color: gray;
}
.learning-items .content h4 {
  font-size: 8pt;
  color: black;
}

/* Responsiveness */
@media screen and (max-width: 599px) and (min-width: 450px) {
  /* mobile to tablet */
  .menu {
    font-size: 5pt;
  }
  .header-logo-container,
  .advertisements-left,
  .advertisement-right {
    display: none;
  }
  .grid-view-container,
  .top-body-container ul {
    display: flex;
    flex-direction: column;
  }
  .grid-view-block,
  .suggestion-items {
    width: 100%;
  }
}
@media screen and (max-width: 767px) and (min-width: 600px) {
  /* tablet to normal screens */
  .menu {
    font-size: 5px;
  }
  .header-logo-container {
    width: 15%;
    height: 100%;
  }
  .header-logo-container .header-logo {
    margin-top: 8%;
    width: 80%;
    height: 50%;
  }
  .advertisements-left img,
  .advertisement-right img {
    width: 150px;
  }
  .grid-view-container,
  .top-body-container ul {
    display: flex;
    flex-direction: column;
  }
  .grid-view-block,
  .suggestion-items {
    width: 100%;
  }
}
@media screen and (max-width: 1800px) and (min-width: 768px) {
  /* normal screens to extra large */
  .menu {
    font-size: 14px;
  }
  .header-logo-container {
    width: 10%;
    height: 100%;
  }
  .header-logo-container .header-logo {
    width: 72%;
    height: 80%;
  }
  .header-bottom {
    padding: 0 5rem;
  }
}
